.board {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    pointer-events: none;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
}

.body html{
    overflow: hidden;
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-slot {
    width: 80px;
    height: 120px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(84, 84, 84);
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    bottom: 0;
    align-items: center;
    position: relative;
    pointer-events: auto;
    z-index: 3;
}

.card {
    width: 80px;
    height: 120px;
    background-color: #aaa; 
    border-radius: 5px;
    border: 1px solid #555;
    cursor: pointer;
    position: relative;
    z-index: 3;
}
.set {
    display: flex;
}

#player-set {
    margin-top: auto;
}

.side {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100vw;
}

#sell {
    top: 10%;
    right: -10%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 20vw;
    border-style: dashed;
    position: absolute;
    border-color: rgb(255, 255, 255, 0.5);
    background-color: rgba(255, 200, 0, 0.5);
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255, 0.5);
}

#sell-text {
    font-size: 7.5vw;
    z-index: -2;
    pointer-events: none;
}

#sell.dragover {
    background-color: rgba(255, 200, 0, 0.75);
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255)
    
}

#coins {
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 20vw;
    position: absolute;
    background-color: rgba(94, 94, 94, 0.5);
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    color: rgb(255, 200, 0);
}

#coins-text {
    font-size: 2.5vw;
    z-index: -2;
}